<!DOCTYPE html>
<html lang="en">
<head>
  <title>Calculator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css"/>
  <script src="{{ url_for('static', filename='js/jquery.js')}}" ></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row">
    <div class="border border-dark col-sm-6 col-md-6 col-lg-6 align-items-center">
    <b><h1>Calculator</h1></b><br><hr><br>
    <form action="/" method="post">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="numb1">Numb 1</label>
                <input type="number" class="form-control" id="numb1" name="numb1" required min="1" max="99999">
            </div>
            <div class="form-group col-md-2">
                <label for="ops">Ops</label>
                <select id="ops" name="ops" class="form-control">
                    <option selected value="add">Add</option>
                    <option value="sub">Sub</option>
                    <option value="div">Div</option>
                    <option value="mul">Mul</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="numb2">Numb 2</label>
                <input type="number" name="numb2" class="form-control" id="numb2" required min="1" max="99999">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button> <hr><br><br>
        <h1>Results : </h1>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <h1 style="color: rgb(82, 63, 63);">{{ message }}</h1>
          {% endfor %}
       
          {% endif %}
          {% endwith %}
        
    </form>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
        <b><h1 class="text-center">History</h1></b><br><br>
        <div class="container">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sl.No</th>
                  <th>Results</th>
                  <th>Time</th>
                  <th>Action</th>
                </tr>
              </thead>
              {% if history|length < 1 %}
              <h4 style="text-align: center">There are no Results. Perform one Operation on the left side!</h4>
              {% else %}
              <tbody>
                <tr>            
                  {% for rows in history %}
                  <tr>
                  <td>{{ rows.id }}</td>
                  <td>{{ rows.result }}</td>
                  <td>{{ rows.date_created.date() }}</td>
                  <td><a href="/delete/{{rows.id}}">Delete</a></td>
                  </tr>
                  {% endfor %}

              </tbody>
              {% endif %}
            </table>
          </div>
    </div>
    </div>
</div> 


<br><br><br><br>
<form action="/table" method='GET'>
  <div class="form-row">
      <div class="form-group col-md-2">
          <label for="table"><h1>Tables</h1></label>
          <input type="number" class="form-control" id="table" name="table" required min="1" max="99999">
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button> <hr><br><br>
</form>
</body>
</html>

